@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Azeret Mono" sans-serif;
}

/*it's my head title name and button Start*/
.head-title{

height: 60px;
width: 100%;
display: flex;
justify-content: space-between;
 padding: 20px 150px; 
 padding-bottom: 100px; 
   
}

.head-button{
    height: 30px;
    width: 120px;
}
/*it's my head title name and button End */

/*my-first-content I hope to become a Devoloper Start*/
.my-first-content{
   
    height: 500px;
    width: 100%;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-bottom: 50px;
    border: 1px dashed rgb(160, 158, 158);
}

.first-content-picture{
padding-top: 20px;
   
}
.first-content-heading{
    padding-top: 20px;
    font-size: 20px;
}
.first-content-heading p{
    text-align: center;
    padding: 20px 70px;
    color: rgb(100, 102, 106);
    padding-bottom: 35px;
}
.first-content-heading button{
    background-color: rgb(13, 19, 33);
    color: white;
    height: 40px;
    width: 130px;
    border-radius: 8px;
    
}
/*my-first-content I hope to become a Devoloper End*/

/*Why Web Development?  full box start*/
.why-web-development-full-content{
    width: 80%;
    height: 1180px;
    margin: 0 auto;
    padding-top: 50px;

}
/*Why Web Development?  head text start*/
.why-web-development-full-content h1{
    text-align: center;
    font-size: 30px;
    padding: 10px 15px;
    font-weight: 800;
}
.why-web-development-full-content p{
    text-align: center;
    color: rgb(87, 86, 86);
    align-items: center;
    padding: 10px 50px;
    padding-bottom: 100px;

}
/*Why Web Development?  head text END*/

/*Why Web Development?  three content box*/
/*first content box start*/
.why-web-development-First-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 150px;
   

}
.why-web-development-First-content h2{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.why-web-development-First-content p{
    font-size: 14px;
    text-align: left;
    padding-left: 0;
    padding-bottom: 15px;
}
.why-web-development-First-content button{
    height: 30px;
    width: 100px;
}
/*first content box end*/

/*second content box start*/
.why-web-development-Second-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 80px;
    padding-top: 40px;

}
.why-web-development-Second-content h2{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    padding-top: 30px;
}
.why-web-development-Second-content p{
    font-size: 14px;
    text-align: left;
    padding-left: 0;
    padding-bottom: 15px;
}
.why-web-development-Second-content button{
    height: 30px;
    width: 100px;
}
/*second content box End*/

/*Third content box start*/
.why-web-development-Third-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 80px;
    padding-top: 40px;

}
.why-web-development-Third-content h2{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.why-web-development-Third-content p{
    font-size: 14px;
    text-align: left;
    padding-left: 0;
    padding-bottom: 15px;
}
.why-web-development-Third-content button{
    height: 30px;
    width: 100px;
}

/*My-Inspiration-full-box content number three start*/

/*My-Inspiration-full-text item Start*/
.My-Inspiration-full-box{
   
    height: 800px;
    width: 80%;
    padding-top: 100px;
    margin: 0 auto;

} 
.My-Inspiration-full-box h1{
     text-align: center;
     font-size: 40px;
     
}

.My-Inspiration-full-box p{
    text-align: center;
    font-size: 17px;
    padding: 40px 120px;

}
/*My-Inspiration-full-text item end*/

/*My-Inspiration-ifreme item start*/
.ifreme-content-box{
    height: 400px;
    width: 80%;
    padding: 10px 15px;
    padding-top:  30px;
    padding-left: 30px;
    margin: 0 auto;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 1px 1px 1px 1px  rgb(107, 106, 106);
    

}
.ifreme-content-box .content{
    height: 96%;
    width: 98%;
    border-radius: 16px;
    margin:  0 auto;
    align-items: center;
    
}

/*My-Inspiration-ifreme item End*/
/*My-Inspiration-full-box content number three end*/

